.skill-icon {
  margin: 0 auto;
  width: 4rem; /* Equivalent to w-16 in Tailwind */
  height: 4rem; /* Equivalent to h-16 in Tailwind */
  margin-bottom: 1rem; /* Equivalent to mb-4 */
  transition: filter 2000ms ease;
}

.skill-card {
  padding: 1.5rem; /* Equivalent to p-6 in Tailwind */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
    /* From https://css.glass */
  background: rgba(231, 212, 195, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
}

.dark .skill-card {
        /* From https://css.glass */
  background: rgba(34, 34, 36, 0.77);
  border: 1px solid rgba(231, 212, 195, 0.08);
}

.dark .skill-icon {
  filter: invert(1);
}

.skill-card-name {
  font-size: 1.5rem; /* Equivalent to text-2xl in Tailwind */
  font-weight: 600; /* Equivalent to font-semibold */
  margin-bottom: 1rem; /* Equivalent to mb-4 */
}

/* "Coming Soon" icons have grayscale effect */
.coming-soon {
  filter: grayscale(100%); /* Grayscale and invert */
  opacity: 0.3; /* Faded effect for "Coming Soon" items */
}

.progress-bar {
  width: 100%;
  background-color: #374151; /* Equivalent to bg-gray-700 */
  height: 0.1rem; /* Equivalent to h-1 */
  margin-bottom: 1rem; /* Equivalent to mb-4 */
  /* border-radius: 0.5rem; Equivalent to rounded-lg */
}

.progress-bar-fill {
  background-color: #f5f5f5; /* Equivalent to bg-yellow-500 */
  height: 0.1rem; /* Equivalent to h-1 */
  /* border-radius: 0.5rem; Equivalent to rounded-lg */
}
