/* styles/blob.css */
.wrap {
  overflow: hidden;
  position: absolute; /* Ensures it's positioned behind other content */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; /* Ensures background is behind */
  height: 100vh;
}

canvas {
  width: 100vw;   /* Set the canvas width to 100% of the viewport width */
  height: 100vh;  /* Set the canvas height to 100% of the viewport height */
  display: block; /* Prevent unwanted spaces around the canvas */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;     /* Ensure the canvas is behind other elements */
}