
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

/* Apply the font globally */
body {
  font-family: 'Space Mono', monospace; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; /* Headers will use Montserrat */
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.3); /* White with transparency */
  backdrop-filter: blur(15px); /* Frosted blur effect */
  border-radius: 10px; /* Optional rounded corners */
  padding: 20px; /* Some padding for content inside the frosted area */
  z-index: 1; /* Make sure it's on top of the orbs */
}

/* Optimized oil gradient background */
.oil-gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: radial-gradient(circle at 30% 30%, #85f, transparent), 
              radial-gradient(circle at 70% 70%, #fc4, transparent), 
              radial-gradient(circle at 50% 50%, #4cf, transparent),
              radial-gradient(circle at 80% 20%, #ff5, transparent);
  background-size: 200% 200%;
  
  filter: blur(20px) url(#ripple);  /* Reduced blur and added ripple effect */
  animation: moveGradient 15s ease infinite;  /* Slowed down the animation for smoother effect */
}

/* Optimized background animation */
@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;  /* Slower movement */
  }
  100% {
    background-position: 0% 0%;
  }
}
